USE [master]
GO
/****** Object:  Database [Store_215962135]    Script Date: 19/04/2026 08:46:55 ******/
CREATE DATABASE [Store_215962135]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Store_215962135', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Store_215962135.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Store_215962135_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Store_215962135_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Store_215962135].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Store_215962135]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 19/04/2026 08:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(100,5) NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 19/04/2026 08:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(100,5) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[OrderSum] [decimal](10, 2) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderStatus] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders_Items]    Script Date: 19/04/2026 08:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders_Items](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[ProductsID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 19/04/2026 08:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductsID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductsName] [varchar](100) NOT NULL,
	[ProductsDescreption] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ImgUrl] [varchar](200) NULL,
	[ImgUrl2] [varchar](200) NULL,
	[Color] [varchar](30) NULL,
	[Material] [nvarchar](100) NULL,
	[Quantity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATING]    Script Date: 19/04/2026 08:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING](
	[RATING_ID] [int] IDENTITY(1,1) NOT NULL,
	[HOST] [nvarchar](50) NULL,
	[METHOD] [nchar](10) NULL,
	[PATH] [nvarchar](50) NULL,
	[REFERER] [nvarchar](100) NULL,
	[USER_AGENT] [nvarchar](max) NULL,
	[Record_Date] [datetime] NULL,
 CONSTRAINT [PK_RATING] PRIMARY KEY CLUSTERED 
(
	[RATING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/04/2026 08:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Address] [varchar](200) NULL,
	[Role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (105, N'Braclets')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (110, N'Charms')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (120, N'Earrings')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderDate], [OrderSum], [UserID], [OrderStatus]) VALUES (5225, CAST(N'2026-03-16' AS Date), CAST(630.00 AS Decimal(10, 2)), 17, N'Delivered')
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [OrderSum], [UserID], [OrderStatus]) VALUES (5230, CAST(N'2026-03-16' AS Date), CAST(2460.00 AS Decimal(10, 2)), 17, N'Delivered')
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [OrderSum], [UserID], [OrderStatus]) VALUES (5235, CAST(N'2026-03-16' AS Date), CAST(500.00 AS Decimal(10, 2)), 17, N'Paid')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders_Items] ON 

INSERT [dbo].[Orders_Items] ([OrderItemID], [ProductsID], [OrderID], [Quantity]) VALUES (1041, 1, 5225, 3)
INSERT [dbo].[Orders_Items] ([OrderItemID], [ProductsID], [OrderID], [Quantity]) VALUES (1042, 2, 5230, 6)
INSERT [dbo].[Orders_Items] ([OrderItemID], [ProductsID], [OrderID], [Quantity]) VALUES (1043, 324, 5235, 1)
SET IDENTITY_INSERT [dbo].[Orders_Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductsID], [CategoryID], [ProductsName], [ProductsDescreption], [Price], [ImgUrl], [ImgUrl2], [Color], [Material], [Quantity], [IsActive]) VALUES (1, 100, N'טבעת כסף ספרקלינג פאווה', N'', CAST(190.00 AS Decimal(10, 2)), N'products/Rings/Ring1_a.webp', N'products/Rings/Ring1_b.webp', N'כסף', N'כסף סטרלינג', 86, 1)
INSERT [dbo].[Products] ([ProductsID], [CategoryID], [ProductsName], [ProductsDescreption], [Price], [ImgUrl], [ImgUrl2], [Color], [Material], [Quantity], [IsActive]) VALUES (2, 100, N'טבעת כסף חותם לב ניתנת לחריטה', N'תכשיט קטן שמספר סיפור אישי: טבעת חותם עשויה כסף סטרלינג בצורת לב גדול. ניתן להוסיף לה חריטה עם מסר קצר ואישי שיהפוך אותה למתנה מרגשת וסימבולית.', CAST(300.00 AS Decimal(10, 2)), N'products/Rings/Ring2_a.webp', N'products/Rings/Ring2_b.webp', N'כסף', N'כסף סטרלינג', 15, 1)
INSERT [dbo].[Products] ([ProductsID], [CategoryID], [ProductsName], [ProductsDescreption], [Price], [ImgUrl], [ImgUrl2], [Color], [Material], [Quantity], [IsActive]) VALUES (3, 100, N'טבעת כסף כפולה פפיון נוצץ', N'דאבל דה שיק: טבעת כפולה עשויה כסף סטרלינג עם דוגמת פפיון מתוקה וזרקונים נוצצים בשיבוץ פאווה. ענדי אותה עם הפיסים האהובים עלייך כדי לשדרג את האאוטפיט שלך.
', CAST(380.00 AS Decimal(10, 2)), N'products/Rings/Ring3_a.webp', N'products/Rings/Ring3_b.webp', N'כסף', N'כסף סטרלינג', 19, 1)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RATING] ON 

INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (1, N'localhost:44360', N'GET       ', N'/openapi/v1.json', N'https://localhost:44360/Swagger/index.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36', CAST(N'2026-04-17T16:31:17.880' AS DateTime))
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (2, N'localhost:44360', N'GET       ', N'/openapi/v1.json', N'https://localhost:44360/Swagger/index.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36', CAST(N'2026-04-17T16:31:51.440' AS DateTime))
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (3, N'localhost:44360', N'GET       ', N'/api/Orders/1', N'https://localhost:44360/Swagger/index.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36', CAST(N'2026-04-17T16:32:14.710' AS DateTime))
SET IDENTITY_INSERT [dbo].[RATING] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Password], [UserName], [FirstName], [LastName], [Phone], [Address], [Role]) VALUES (1, N'123456!Aa@@', N'eli7p@gmail.com', N'Elisheva', N'Polsky', NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [Password], [UserName], [FirstName], [LastName], [Phone], [Address], [Role]) VALUES (2, N'AAaa@@22', N'zehavaleh@gmail.com', N'זהבה גולדה', N'קורנווסר !', N'0527199547', N'מנחם מנדל', N'User')
INSERT [dbo].[Users] ([UserID], [Password], [UserName], [FirstName], [LastName], [Phone], [Address], [Role]) VALUES (3, N'admin123', N'admin@pan.com', N'Admin', N'Pandora', N'0505555555', N'Tel Aviv', N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E0DD1C277D]    Script Date: 19/04/2026 08:46:56 ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__146C2A6D1F70AEC3]    Script Date: 19/04/2026 08:46:56 ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[ProductsName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__1BCAF4FC00CBD508]    Script Date: 19/04/2026 08:46:56 ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[ImgUrl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F28456DF91780C]    Script Date: 19/04/2026 08:46:56 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderStatus]  DEFAULT ('Paid') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Orders_Items]  WITH CHECK ADD  CONSTRAINT [FK_OrdersItems_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Orders_Items] CHECK CONSTRAINT [FK_OrdersItems_Orders]
GO
ALTER TABLE [dbo].[Orders_Items]  WITH CHECK ADD  CONSTRAINT [FK_OrdersItems_Products] FOREIGN KEY([ProductsID])
REFERENCES [dbo].[Products] ([ProductsID])
GO
ALTER TABLE [dbo].[Orders_Items] CHECK CONSTRAINT [FK_OrdersItems_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([OrderSum]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_OrderStatus] CHECK  (([OrderStatus]='Delivered' OR [OrderStatus]='Shipped' OR [OrderStatus]='Paid'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_OrderStatus]
GO
ALTER TABLE [dbo].[Orders_Items]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_Quantity] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_Quantity]
GO
USE [master]
GO
